# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

name: Upload Python Package

on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: release
        permissions:
            # IMPORTANT: this permission is mandatory for trusted publishing
            id-token: write

        steps:
            - uses: actions/checkout@v6.0.1
            - name: Set up Python
              uses: actions/setup-python@v6.1.0
              with:
                  python-version: '3.10'
            - name: Install PDM and mypy
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install pdm
                  python -m pip install mypy  # Install mypy for stubgen
            - name: Generate type stubs
              run: stubgen src -o src # Generate stubs directly into the src directory
            - name: Build package
              run: pdm build
            - name: Publish package
              uses: pypa/gh-action-pypi-publish@v1.13.0
